name: 'Terraform-Common-GCS'

on:
  workflow_call:
    inputs:
      gcp_job:
        required: true
        type: string
      gcp_env:
        type: string
        required: true
    secrets:
      OP_CONNECT_TOKEN:
        required: true
      OP_CONNECT_HOST:
        required: true
      # WIF secrets instead of SA key
      GCP_WORKLOAD_PROVIDER:
        required: true
      GCP_SERVICE_ACCOUNT_EMAIL:
        required: true

permissions:
  contents: read
  id-token: write   # required for WIF

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: tools

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.GCP_WORKLOAD_PROVIDER }}
        service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
        create_credentials_file: true
        export_environment_variables: true
        access_token_lifetime: 3600s
        access_token_scopes: |
          https://www.googleapis.com/auth/cloud-platform
          https://www.googleapis.com/auth/compute

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.4.2
        terraform_wrapper: false

    - name: Apply environment config
      working-directory: ${{ inputs.gcp_job }}
      run: |
        sed -i 's/dev"/${{ inputs.gcp_env }}"/g' variables.tf
        sed -i 's/dev"/${{ inputs.gcp_env }}"/g' main.tf

    - name: Clear Terraform cache
      run: |
        rm -rf ~/.terraform.d/
        rm -rf ~/.terraformrc
        rm -rf .terraform/
        rm -f .terraform.lock.hcl
      working-directory: ${{ inputs.gcp_job }}

    - name: Terraform Init
      working-directory: ${{ inputs.gcp_job }}
      run: |
        terraform init \
          -backend-config="bucket=common-tools-terraform-state" \
          -backend-config="prefix=jobs/${{ inputs.gcp_job }}-${{ inputs.gcp_env }}" \
          -reconfigure \
          -input=false
      env:
        OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
        OP_CONNECT_HOST: ${{ secrets.OP_CONNECT_HOST }}

    - name: Terraform Plan
      working-directory: ${{ inputs.gcp_job }}
      run: terraform plan -input=false
      env:
        OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
        OP_CONNECT_HOST: ${{ secrets.OP_CONNECT_HOST }}

    - name: Terraform Apply
      working-directory: ${{ inputs.gcp_job }}
      run: terraform apply -auto-approve -input=false
      env:
        OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
        OP_CONNECT_HOST: ${{ secrets.OP_CONNECT_HOST }}